.outline {
    background-color: #fcfffb;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #10120e;
    border-radius: 8px;
    /*角の丸み*/
    box-shadow: 0px 0px 5px silver;
    /*5px=影の広がり具合*/
    padding: 2em 2em 2em 2em;
}

.aboutline {
    background-color: #fcfffb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #10120e;
    border-radius: 8px;
    /*角の丸み*/
    box-shadow: 0px 0px 5px silver;
    /*5px=影の広がり具合*/
}

p.ex{
    color: #4b619f;
    font-size: calc(2px + 4vmin);
    
}
p.cap{
    font-size: 0.8em;
}

.ex span{
    background: linear-gradient(transparent 0%, #cbcbcbbf 0%);
    display: inline-block;
}

h2.ex{
    color: #4b619f;
    font-size: calc(5px + 4vmin);
    background: #cbcbcbbf;
    display: inline-block;
}

.Survey-header {
    background-color: #fcfffb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #10120e;
    padding: 2em 2em 2em 2em;
}

.next {
    background-color: #fcfffb;
    min-height: 40vh;
    min-width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #10120e;
    border-radius: 8px;
    /*角の丸み*/
    box-shadow: 0px 0px 5px silver;
    /*5px=影の広がり具合*/
    padding: 2em 2em 2em 2em;
}

.about_ex p {
    font-size: 0.7em;
}

.box_image {
    padding-top: 1em;
    text-align: center;
}

.inCarousel {
    margin: auto;
    object-fit: cover;
    max-width: 100%;
}

.annotation p {
    font-size: 0.8em;
}

.imageQuestion {
    width: 90%;
    max-width: 800px;
}

.fix {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}